{% extends 'about/index.html' %}
{% load static %}

{% block slidercontet %}

{% endblock slidercontet %}

{% block content %}


  
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'about/total/img/about.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>BZDAN is Your first choice</h3>
            <p class="fst-italic">
              This restaurant is considered one of the most famous restaurants in the city, as it is distinguished by its elegant style and quiet lighting
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> The quality is excellent</li>
              <li><i class="bi bi-check-circle"></i>Our Chefs at the highest level</li>
              <li><i class="bi bi-check-circle"></i>Your happiness is our first target</li>
            </ul>
            <p>
              Our restaurant is characterized by the finest international types, which are served by chefs at the highest level and specialists in the field of food, where we host all layers of society and we have a special part for holding events
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Regularity</h4>
              <p>Orders are not delayed for our existing customers for the sake of their time, We always take into account the customer's time and try as much as possible to preserve it and not waste it</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Cleanliness</h4>
              <p>Our restaurant is always clean, the tables are organized in an elegant manner, and the decorations that attract customers with their cheerful colors</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Quality</h4>
              <p>We have a group of chefs specialized in the field of food, whether oriental or western, We get excellent feedback on our daily dishes that we produce</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


   

    


  </main><!-- End #main -->

  {% endblock %}